IF (NOT EXISTS (SELECT * 
                 FROM INFORMATION_SCHEMA.TABLES 
                 WHERE TABLE_NAME = 'ISO_3166_2'))
BEGIN
  CREATE TABLE ISO_3166_2 (
      Alpha2   CHAR(2) NOT NULL,
      Alpha3   CHAR(3) NOT NULL,
      Numeric  CHAR(3) NOT NULL,
      Name     NVARCHAR(1024) NOT NULL,
      ISO31662 VARCHAR(15) NOT NULL
  )
END

